# Application
NODE_ENV=dev
MONGODB_URL="YOUR_MONGODB_URL"
APP_SHORT_NAME="task-backend"

# JWT Auth
USER_JWT_SECRET="YOUR_USER_JWT_SECRET"
USER_JWT_REFRESH_SECRET="YOUR_USER_JWT_REFRESH_SECRET"
USER_JWT_EXPIRY=900000
USER_JWT_REFRESH_EXPIRY='3d'
USER_JWT_PASSWORD_RESET_SECRET="YOUR_PASSWORD_RESET_SECRET"
USER_JWT_PASSWORD_RESET_EXPIRY=1000
USER_FORGET_PASSWORD_URL="http://"
USER_EMAIL_VERIFICATION_PATH=auth/user/verify-signup-email

# AWS SES Configuration
AWS_SES_ACCESS_KEY_ID="YOUR_AWS_SES_ACCESS_KEY_ID"
AWS_SES_SECRET_ACCESS_KEY="YOUR_AWS_SES_SECRET_ACCESS_KEY"
AWS_SES_REGION="eu-central-1"

# LogDNA
LOGDNA_KEY="YOUR_LOGDNA_KEY"

# AWS S3 Upload
AWS_UPLOAD_BUCKET_NAME="YOUR_BUCKET_NAME"
AWS_UPLOAD_ACCESS_KEY_ID="YOUR_AWS_UPLOAD_ACCESS_KEY_ID"
AWS_UPLOAD_SECRET_ACCESS_KEY="YOUR_AWS_UPLOAD_SECRET_ACCESS_KEY"
AWS_UPLOAD_REGION="eu-central-1"
MEDIA_DOMAIN="https://"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# Firebase
FIREBASE_ADMIN_DEEP_LINKS_DOMAIN="YOUR_ADMIN_DEEP_LINKS_DOMAIN"
FIREBASE_ADMIN_DEFAULT_DEEP_LINK="YOUR_ADMIN_DEFAULT_DEEP_LINK"
FIREBASE_USER_DEEP_LINKS_DOMAIN="YOUR_USER_DEEP_LINKS_DOMAIN"
FIREBASE_USER_DEFAULT_DEEP_LINK="YOUR_USER_DEFAULT_DEEP_LINK"

# Other Services
S2S_JWT_SECRET="YOUR_S2S_JWT_SECRET"
ELASTIC_SEARCH_URL="YOUR_ELASTIC_SEARCH_URL"

# Seeded Users
MANAGER_EMAIL=manager@example.com
MANAGER_NAME_EN=Manager
MANAGER_NAME_AR=مدير
MANAGER_PASSWORD=YOUR_MANAGER_PASSWORD

USER_EMAIL=user@example.com
USER_NAME_EN=User
USER_NAME_AR=مستخدم
USER_PASSWORD=YOUR_USER_PASSWORD

SECONDARY_USER_EMAIL=secondaryuser@example.com
SECONDARY_USER_NAME_EN=Secondary User
SECONDARY_USER_NAME_AR=مستخدم اضافي
SECONDARY_USER_PASSWORD=YOUR_SECONDARY_USER_PASSWORD
